@import "tailwindcss";

@theme {
  --color-primary: #5c5fed;
  --color-primary-light: #818cf8;
  --color-dark: #0f0f0f;
  --color-dark-card: #1a1a1a;
  --color-dark-border: #2a2a2a;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark text-gray-100 antialiased;
}
